/* Selecteur, dimensions, couleurs
- Texte
- Background
- Boxes
- Positionning
- Flex
- Grid
- Pseudo classe
- Débug
- Responsive */

@import url(https://fr.allfont.net/allfont.css?fonts=ninja-naruto);

@font-face {
  font-family: "font-1";
  src: url(/assets/SourceCodePro-Bold.ttf);

  font-family: "font-bleach";
  src: url(assets/Bleach-8jnJ.ttf);
}

body {
  font-family: "font-1", serif;
  text-align: center;
  font-size: 1.5rem;
  color: orange;
  background: url(assets/sky-34536.png) fixed center/cover;
  height: 100vh;
  overflow: hidden;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: orange;
  text-shadow: 5px 3px 0 rgba(0, 0, 139, 0.438);
  text-align: center;
  font-family: "Ninja Naruto", "font-bleach";
}

main {
  background: rgba(0, 0, 139, 0.226);
  width: 50%;
}
